<div class="container">
  <div class="row mt-4">
    <h4 class="col-lg-12">Arduino nodes</h4>
    <div *ngFor='let node of firebase.getNodes() | async' class="col-lg-4">
      <div class="node">
        <div>
          <h5  class="remove linklike">Device id: {{node.data.deviceId}}</h5>
          <span class="mr-auto">Location: {{node.data.location}}</span>
          <div class="light-link" (click)="turnOnLights(node.data.deviceId)"><strong>Turn lights on</strong> <i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
          <div class="light-link" (click)="turnOfLights(node.data.deviceId)"><strong>Turn lights off</strong> <i class="dark-light fa fa-lightbulb-o" aria-hidden="true"></i></div>
        </div>
      </div>

    </div>
  </div>

</div>
