


.node{
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
}


.linklike{
  color: dodgerblue !important;

}

.linklike:hover{
  text-decoration: underline;
  cursor: default;
}


.plus-sign{
  font-size: 30px;
}

.light-link{
  text-decoration: underline;
}

.light-link:hover{
  letter-spacing: 1px;
  cursor: default;
}

.dark-light{
  filter: invert(100%);

}
